@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  margin: 0;
  padding: 0;
  /* background: rgb(200, 112, 188);
  background: linear-gradient(
    37deg,
    rgba(200, 112, 188, 1) 0%,
    rgba(246, 196, 222, 1) 17%,
    rgba(157, 206, 236, 1) 35%,
    rgba(68, 145, 196, 1) 59%,
    rgba(20, 64, 101, 1) 100%
  ); */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  min-height: 100vh;
}

#root {
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
  border-radius: 0;
}

.App {
  min-height: 95vh;
  padding: 0 20px;
}

/* 마이 버튼 디자인 */

.MyButton {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 900;
}

.MyButton_default {
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
  color: #000;
}

.MyButton_positive {
  background-color: #64c964;
  box-shadow: inset 5px 5px 9px #59b359, inset -5px -5px 9px #6fdf6f;
  color: #fff;
}

.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

.MyButton_default:hover {
  color: #000;
  transition: all 0.5s;
  background: #f0f0f0;
  box-shadow: 5px 5px 9px #d6d6d6, -5px -5px 9px #ffffff;
  outline: none;
}

/* 헤더 */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

.Btn_home > header > div > button {
  border-radius: 50% !important;
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 900;
}
.Btn_home > header > div > button:hover {
  transition: all 0.5s;
  background: #f0f0f0;
  box-shadow: 5px 5px 9px #d6d6d6, -5px -5px 9px #ffffff;
  outline: none;
}

/* 다이어리 리스트 */

.DiaryList .menu_wrapper {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.menu_wrapper .right_col {
  flex-grow: 1;
}

.right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  height: 100%;
}
/* 다이어리 아이템 */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 100px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.emotion_img_wrapper > img {
  width: 50%;
}

.emotion_img_wrapper_1 {
  background: #64c964;
  box-shadow: inset 5px 5px 9px #59b359, inset -5px -5px 9px #6fdf6f;
}

.emotion_img_wrapper_2 {
  background: #9dd772;
  box-shadow: inset 5px 5px 9px #8cbf65, inset -5px -5px 9px #aeef7f;
}

.emotion_img_wrapper_3 {
  background: #fdce17;
  box-shadow: inset 5px 5px 9px #e1b714, inset -5px -5px 9px #ffe51a;
}

.emotion_img_wrapper_4 {
  background: #fd8446;
  box-shadow: inset 5px 5px 9px #e1753e, inset -5px -5px 9px #ff934e;
}

.emotion_img_wrapper_5 {
  background: #fd565f;
  box-shadow: inset 5px 5px 9px #e14d55, inset -5px -5px 9px #ff5f69;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}
.info_wrapper .diary_date {
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 5px 0;
  color: rgb(103, 187, 255);
}

.info_wrapper .diary_content_preview {
  font-size: 18px;
}
.btn_wrapper {
  min-width: 70px;
}

/* 다이어리 에디터 */
.DiaryEditer {
}
.DiaryEditer .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditer section {
  margin-bottom: 40px;
}
.DiaryEditer h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditer .input_date {
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}
.DiaryEditer textarea {
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
  padding: 20px;
}

.DiaryEditer .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 이모션아이템 */

.Emotionitem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Emotionitem img {
  width: 50%;
  margin-bottom: 10px;
}

.Emotionitem span {
  font-size: 18px;
}

.Emotionitem_off {
  background: #f0f0f0;
  box-shadow: inset 5px 5px 9px #d6d6d6, inset -5px -5px 9px #ffffff;
}

.Emotionitem_on_1 {
  background: #64c964;
  color: #fff;
  transition: all 0.5s;
}

.Emotionitem_on_2 {
  background: #9dd772;
  color: #fff;
  transition: all 0.5s;
}

.Emotionitem_on_3 {
  background: #fdce17;
  color: #fff;
  transition: all 0.5s;
}

.Emotionitem_on_4 {
  background: #fd8446;
  color: #fff;
  transition: all 0.5s;
}

.Emotionitem_on_5 {
  background: #fd565f;
  color: #fff;
  transition: all 0.5s;
}

/* 미디어쿼리 */

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }

  .DiaryList .menu_wrapper {
    margin: 20px 0 30px 0;
    display: block;
  }
  .DiaryList .ControlMenu {
    width: 50%;
    text-align: center;
  }
  .DiaryList .ControlMenu:nth-child(1) {
    margin: 0 5px 0 0;
  }
  .DiaryList .ControlMenu:nth-child(2) {
    margin: 0 0 0 5px;
  }
  .left_col {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0 !important;
    flex-grow: 1;
  }
}
